html, body {
    height: 100%;
}

body {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    align-items: center;
    color: white;
    display: flex;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    justify-content: space-between;
    padding: 10px;
}

.header p {
    font-size: 64px;
    margin: 10px;
    text-shadow: 2px 2px 2px #000000;
}

.header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.header nav ul a {
    color: white;
    filter: none;
    font-size: 24px;
    text-decoration: none;
    transition: 0.2s ease;
}

.header nav ul a:hover {
    filter: invert(1);
}

#index-links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#index-links a img {
    filter: brightness(0) invert(1);
    transition: 0.2s ease;
}

#index-links a:hover img {
    filter:none;
}

#footer {
    color:white;
    margin-top: auto;
    text-align: center;
}

#footer a {
    color: white;
    filter: none;
    text-decoration: underline;
}